<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - 个人网盘系统</title>
    <%- include('styles') %>
  </head>
  <body>
    <%- include('navbar', { user: user }) %>
    <div class="main-container"></div>
  </body>
</html>
